<%= render 'layouts/headern'%>
<h1>イベント一覧</h1>
<ul>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
   <%= will_paginate @microposts %>
</ul>
=======
<div class="panel panel-default">
  <h4 class="microposts-1">
    <%= render @microposts %>
    <%= will_paginate @microposts %>
  </h4>
</div>
