<div id="header">
    <div class="logo">
       <h1 class="event"><%= link_to "EventApp", root_path%></h1>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand visible-xs" href="#">Menu</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="nm"><%= link_to "Home", root_path %></li>
                  <li class="nm"><%= link_to "Help", help_path %></li>
                  <% if logged_in? %>
                    <li class="nm"><%= link_to "開催する", kaisai_path%></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle nm" data-toggle="dropdown">
                        Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="nm"><%= link_to "Profile", current_user %></li>
                        <li class="nm"><%= link_to "Settings", edit_user_path(current_user)%></li>
                        <li class="divider"></li>
                        <li class="nm"><%= link_to "Log out", logout_path, method: :delete %></li>
                      </ul>
                    </li>
                  <% else %>
                    <li class="nm"><%= link_to "新規登録", signup_path%></li>
                    <li class="nm"><%= link_to "Log in", login_path %></li>
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>
</div>
